$height : 16px;
$width : 16px;
$radius : 8px;
$red-color : rgba(227, 53, 34);
$orange-color : rgb(255, 165, 0);
$green-color : rgb(60, 179, 113);


.bubble-red {
    height : $height;
    width : $width;   
    margin-left: 5px;
    border-radius : $radius;
    background-color : $red-color
}

.bubble-orange {
    height : $height;
    width : $width;
    margin-left: 5px;
    border-radius : $radius;
    background-color : $orange-color
}

.bubble-green {
    height : $height;
    width : $width;
    margin-left: 5px;
    border-radius : $radius;
    background-color : $green-color
}