

.terminal-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}